<form action="create" method="post">
    {% csrf_token %}
    <label for="title"> Title: </label>
    <input id="title" type="text" name="title" value="{{film.title}}" />
    <br />
    
    <label for="description"> Description: </label>
    <input id="description" type="text" name="description" value="{{film.description}}" />
    <br />
    
    <label for="user"> User: </label>
    <input id="user" type="text" name="user" value="{{film.user}}" />
    <br />

    <input type="submit" value="Create" />

</form>